@model Student

@{
}

<form method="post" asp-action="apply">
    <div asp-validation-summary="All"></div>
    <label asp-for="Name">Name:</label><br>
    <input type="text" asp-for="Name"><br>

    <label asp-for="Mail">Mail:</label><br>
    <input type="text" asp-for="Mail"><br>

    <label asp-for="Phone">Phone:</label><br>
    <input type="text" asp-for="Phone"><br>

    <label asp-for="WillAttend">WillAttend:</label><br>
    <select asp-for="WillAttend">
        <option value="">Select and Option</option>
        <option value="true">Yes, i will attend</option>
        <option value="false">No,</option>
    </select><br>

    <button type="submit">Submit</button>
</form>
