@model IEnumerable<Student>

@{
}
<h2>List</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Mail</th>
        <th>Phone</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Mail</td>
            <td>@item.Phone</td>
        </tr>
    }


</table>
